.bg-b {
    background-color: var(--black);
}

.bg-g {
    background-color: var(--green);
}

.bg-p {
    background-color: var(--pink);
}

.bg-v {
    background-color: var(--violet);
}

.bg-w {
    background-color: var(--white);
}

.d-f {
    align-items: center;
    display: flex;
}

.p-0 {
    padding: 0;
}

.t-b {
    color: var(--black);
}

.t-g {
    color: var(--green);
}

.t-r {
    color: var(--red);
}

.t-v {
    color: var(--violet);
}

.t-w {
    color: var(--white);
}

.ta-c {
    text-align: center;
}