#skills {
    ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
        padding: 0;

        @media screen and (min-width: 481px) {
            grid-template-columns: repeat(6, 1fr);
        }
    }

    li {
        align-self: end;
        list-style: none;
    }

    img {
        width: 100%;
    }
}