@import '~assets/scss/atoms';
@import '~assets/scss/fonts';
@import '~assets/scss/tags';

@import '~assets/scss/sections/about';
@import '~assets/scss/sections/contact';
@import '~assets/scss/sections/intro';
@import '~assets/scss/sections/nav';
@import '~assets/scss/sections/resume';
@import '~assets/scss/sections/skills';
@import '~assets/scss/sections/social';

/*
    White: #F4F4F9
    Green: #3CF4B5
    Red: #FF3366
    Black: #000000
    Violet: #503A53
    https://coolors.co/000000-f4f4f9-3cf4b5-ff3366-503a53
*/
:root {
    --black: #000000;
    // --white: #f4f4f9;

    --trendy_pink: #9B60A1;
    --barley_white: #FFF2CC;
    --voodoo: #523B54;
    --cutty_sark: #51877A;
    --patina: #68A193;

    --white: var(--barley_white);
    --violet: var(--voodoo);
    --green: var(--cutty_sark);
    --pink: var(--trendy_pink);
}

.return_to_top {
    background-color: var(--violet);
    bottom: 1em;
    display: none;
    height: 64px;
    right: 1em;
    padding: .25em;
    position: fixed;
    width: 64px;
    z-index: 10;

    svg {
        height: 100%;
        width: 100%;
    }

    img {
        stroke: var(--white);
    }
}